body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-sweet-progress-symbol {
  display: none !important;
}

.react-sweet-progress-line {
  border-radius: 5px !important;
}

.react-sweet-progress-line-inner {
  min-height: 25px !important;
  border-radius: 5px !important;
}